.loading-icon {
  position: absolute;
  left: calc(100% / 2);
  top: 10px;
}

.error {
  color: green;
  font-weight: bold;
  display: none;
}

.warning {
  color: white;
  background-color: #1bbc9b;
  font-weight: bold;
}


