  
      <div>
        

        <table border="1">

          <tr>
            <td>
              <div class="input__wrapper">
                <input name="file" type="file" name="file" id="input__file" class="input input__file" multiple>
                <label for="input__file" class="input__file-button">
                   <span class="input__file-icon-wrapper"><img class="input__file-icon" src="img/add.svg" alt="Choose the file" width="25"></span>
                   <span class="input__file-button-text">Choose the file</span>
                </label>
             </div>
            </td>
            <td>
              <div>
                <button ng-click="controller.convertLinks()">Convert link</button>
                <div class= "warning" ng-if="controller.showWarningChooseTheFile()">CHOOSE THE FILE!</div>
               </div>
            </td>
            <td>
              <div>
                <button ng-click="controller.exportFile()">Export file</button>
                <div class= "warning" ng-if="controller.showWarningNoDataToExport()">NO DATA TO EXPORT!</div>
                
               </div>
            </td>
          </tr>
          <tr>
            <td>
              
            </td>
            <td></td>
            <td>
              <replace-results></replace-results>
              
            </td>
          </tr>
        </table>

        <div hidden="true">{{controller.returnReplacedTagsAmount()}}</div>
       
        <!-- <div class='container'>
          <button class='one'>Play some <b>amazing</b> games</button>
          <button class='two'>Continue shopping <b>now</b></button>
          <button class='three'><a href="https://www.codepen.io/jcoulterdesign" target="_blank">Follow me on <b>Codepen</b></a></button>
          <button class='four'>Change some <b>settings</b></button>
          <button class='five'>Do something <b>fun</b> today</button>
        </div> -->
        <div class="frame">
          <button class="custom-btn btn-1">Read More</button>
          <button class="custom-btn btn-2">Read More</button>
          <button class="custom-btn btn-3"><span>Read More</span></button>
          <button class="custom-btn btn-4">Read More</button>
          <button class="custom-btn btn-5"><span>Read More</span></button>
          <button class="custom-btn btn-6"><span>Read More</span></button>
          <button class="custom-btn btn-7">Read More</button>
          <button class="custom-btn btn-8">Read More</button>
          <button class="custom-btn btn-9">Read More</button>
          <button class="custom-btn btn-10">Read More</button>
          <button class="custom-btn btn-11">Read More</button>
          <button class="custom-btn btn-12"><span>Click!</span><span>Read More</span></button>
          <button class="custom-btn btn-13">Read More</button>
          <button class="custom-btn btn-14">Read More</button>
          <button class="custom-btn btn-15">Read More</button>
          <button class="custom-btn btn-16">Read More</button>
          <p style="font-family: Andale Mono, monospace;">
            DEERBUCKS.DESIGNING</p>
        </div>
       
       
       
      </div>
