
<div>

    <table width="100%" class="table_without_border">
        <tr>
          <th width="25%"><div class="p1"></div></th>
          <th width="25%"><div class="p1"></div></th>
          <th width="25%"><div class="p1"></div></th>
          <th width="25%"><div class="p1"></div></th>
         </tr>
        <!-- 1 row -->
        <tr>
            <td ng-class="{'focus': controller.selected_plcResourceName, 'blur': !controller.selected_plcResourceName}">{{controller.description_plcResourceName}}</td>
            <td>
                <div>
                    <input type="text" ng-model="controller.settings_plcResourceName" 
                    ng-keyup="controller.updateSettingsPlcResourceName();" 
                    ng-focus="controller.focusPlcResourceName();"
                    ng-blur="controller.blurPlcResourceName();"> 
                </div>
            </td>
            <td>{{controller.description_externalSourcePrefixName}}</td>
            <td>
                <div>
                    <input type="text" ng-model="controller.settings_externalSourcePrefixName" 
                    ng-keyup="controller.updateSettingsExternalSourcePrefixName();"
                    ng-focus="controller.focusExternalSourcePrefixName();"
                    ng-blur="controller.blurExternalSourcePrefixName();"> 
                </div>
            </td>
        </tr>
        <!-- 2 row -->
        <tr>
            <td ng-class="{'focus': controller.selected_fbResourceName, 'blur': !controller.selected_fbResourceName}">{{controller.description_fbResourceName}}</td>
            <td>
                <div>
                    <input type="text" ng-model="controller.settings_fbResourceName" 
                    ng-keyup="controller.updateSettingsFbResourceName();"
                    ng-focus="controller.focusFbResourceName();"
                    ng-blur="controller.blurFbResourceName();"> 
                </div>
            </td>
            <td>{{controller.description_externalLinkResource}}</td>
            <td>
                <div>
                    <input type="text" ng-model="controller.settings_externalLinkResource" 
                    ng-keyup="controller.updateSettingsExternalLinkResource();"
                    ng-focus="controller.focusExternalLinkResource();"
                    ng-blur="controller.blurExternalLinkResource();"> 
                </div>
            </td>
        </tr>
        <!-- row 3 -->
        <tr>
            <td>{{controller.description_repeatedPartName}}</td>
            <td>
                <div>
                    <input type="text" ng-model="controller.settings_repeatedPartName" 
                    ng-keyup="controller.updateSettingsRepeatedPartName();"
                    ng-focus="controller.focusRepeatedPartName();"
                    ng-blur="controller.blurRepeatedPartName();"> 
                </div>
            </td>
            <td>{{controller.description_delimiterPattern}}</td>
            <td>
                <div>
                    <input type="text" ng-model="controller.settings_delimiterPattern" 
                    ng-keyup="controller.updateSettingsDelimiterPattern();"
                    ng-focus="controller.focusDelimiterPattern();"
                    ng-blur="controller.blurDelimiterPattern();"> 
                </div>
            </td>
        </tr>
        <!-- row 4 -->
        <tr>
            <td>{{controller.description_linkVariablesContainer}}</td>
            <td>
                <div>
                    <input type="text" ng-model="controller.settings_linkVariablesContainer" 
                    ng-keyup="controller.updateSettingsLinkVariablesContainer();"
                    ng-focus="controller.focusLinkVariablesContainer();"
                    ng-blur="controller.blurLinkVariablesContainer();"> 
                </div>
            </td>
            <td>{{controller.description_oneDigitPrefix}}</td>
            <td>
                <div>
                    <input type="text" ng-model="controller.settings_oneDigitPrefix" 
                    ng-keyup="controller.updateSettingsOneDigitPrefix();"
                    ng-focus="controller.focusOneDigitPrefix();"
                    ng-blur="controller.blurOneDigitPrefix();"> 
                </div>
            </td>
        </tr>

        <tr>
            <td>{{controller.description_fileName}}</td>
            <td>
                <div>
                    <input type="text" ng-model="controller.settings_fileName" 
                    ng-keyup="controller.updateSettingsFileName();"
                    ng-focus="controller.focusFileName();"
                    ng-blur="controller.blurFileName();"> 
                </div>
            </td>
            <td>{{controller.description_twoDigitPrefix}}</td>
            <td>
                <div>
                    <input type="text" ng-model="controller.settings_twoDigitPrefix" 
                    ng-keyup="controller.updateSettingsTwoDigitPrefix();"
                    ng-focus="controller.focusTwoDigitPrefix();"
                    ng-blur="controller.blurTwoDigitPrefix();"> 
                </div>
            </td>
        </tr>
    </table>

    <hr align="center" width="500" size="2" color="black" />
    <p></p>     
    <p></p>     
    <div class="p1">Internal PLC variable link example</div>
    <div class="p1">
        <temp ng-class="{'focus': controller.selected_plcResourceName, 'blur': !controller.selected_plcResourceName}">{{controller.settings_plcResourceName}}</temp>.<temp ng-class="{'focus': controller.selected_fbResourceName, 'blur': !controller.selected_fbResourceName}">{{controller.settings_fbResourceName}}</temp>.<temp ng-class="{'focus': controller.selected_repeatedPartName, 'blur': !controller.selected_repeatedPartName}">{{controller.settings_repeatedPartName}}{{controller.example_pcNumInArray}}</temp>.<temp ng-class="{'focus': controller.selected_linkVariablesContainer, 'blur': !controller.selected_linkVariablesContainer}">{{controller.settings_linkVariablesContainer}}</temp>.{{controller.example_defaultTagName}}
    </div>
    <p></p>
    <p></p>
    <div class="p1">External OPC variable link example</div>
    <div class="p1">
        <temp ng-class="{'focus': controller.selected_externalSourcePrefixName || controller.selected_oneDigitPrefix || controller.selected_twoDigitPrefix, 'blur': !controller.selected_externalSourcePrefixName && !controller.selected_oneDigitPrefix && !controller.selected_twoDigitPrefix}">{{controller.example_replacedPCNum}}</temp><temp ng-class="{'focus': controller.selected_externalLinkResource, 'blur': !controller.selected_externalLinkResource}">{{controller.settings_externalLinkResource}}</temp><temp ng-class="{'focus': controller.selected_delimiterPattern, 'blur': !controller.selected_delimiterPattern}">{{controller.example_replacedTagName}}</temp>          
    </div>

    
</div>