  
      <div>
        

        <table border="1">

          <tr>
            <td>
              <div>
                <input name="fidle" type="file" name="file" id="input__file">
              </div>
            </td>
            <td>
              <div>
                <button ng-click="controller.convertLinks()">Convert link</button>
                <div class= "warning" ng-if="controller.showWarningChooseTheFile()">CHOOSE THE FILE!</div>
               </div>
            </td>
            <td>
              <div>
                <button ng-click="controller.exportFile()">Export file</button>
                <div class= "warning" ng-if="controller.showWarningNoDataToExport()">NO DATA TO EXPORT!</div>
                
               </div>
            </td>
          </tr>
          <tr>
            <td>
              
            </td>
            <td></td>
            <td>
              <replace-results></replace-results>
              
            </td>
          </tr>
        </table>

        <div hidden="true">{{controller.returnReplacedTagsAmount()}}</div>
       
        
 
      </div>

      
